header {
	height: 4rem;
	color: #ffffff;
	background-color: #000000;
}

a:visited {
	color: #ffffff;
}

.container {
	display: flex;
	align-items: center;
	height: 100%;
}

.header-inner {
	flex: 1 1 auto;
}

header a {
	text-decoration: none;
}

.brand p {
	font-size: 2.5rem;
	margin: 1.1rem 0;
}

nav {
	position: relative;
	text-align: right;
}

nav > a,
nav .nav-link {
	color: #ffffff;
	margin-left: 2em;
	cursor: pointer;
}
