.tutor-archive-header {
	padding: 1em;
	background-color: #b0bec5;
}

select {
	width: 100%;
}

.geocode-location {
	padding: 0 1em;
}

.search-button {
	margin-top: 1em;
}

.tutor-archive-header .flex-outer {
	align-items: center;
}

.tutor-card {
	margin-bottom: 2em;
}

.tutor-card .thumbnail,
.tutor-card .thumbnail img {
	height: 300px;
	max-width: 300px;
}

.tutor-card .card-body {
	max-width: 500px;
}

h2 {
	text-align: center;
}
